/* Estilos para el contenedor principal */
.saveNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para el título */
  .title {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .title input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el contenido */
  .content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    resize: none; /* Evita que el usuario pueda redimensionar el textarea */
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de guardar */
  .saveButton button {
    background-color: #007acc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveButton button:hover {
    background-color: #005a9c;
  }
  .title {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
  }
  
  .title input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  